body{
    margin:0;
    font-family:Segoe UI,Arial,sans-serif;
    background:#0f172a;
    color:#fff;
}

.container{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.card{
    background:#111827;
    padding:35px;
    border-radius:14px;
    width:380px;
}

input, textarea{
    width:100%;
    padding:10px;
    margin:10px 0;
    border-radius:8px;
    border:none;
}

button{
    width:100%;
    padding:12px;
    background:#6366f1;
    border:none;
    border-radius:8px;
    color:white;
    cursor:pointer;
}

button:hover{
    background:#4f46e5;
}

.result{
    white-space:pre-wrap;
    background:#020617;
    padding:15px;
    border-radius:8px;
    margin-top:15px;
}
